.ball {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: rgb(186, 211, 233);
  margin: auto;
  animation: moveAndScaleUp 2s;
}

@keyframes moveAndScaleUp {
  0% {
    transform: translateX(0) scale(1);
  }

  45% {
    transform: translateX(-100px) scale(0.5);
  }

  100% {
    transform: translateX(200px) scale(1.5);
  }
}
