.ball {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: auto;
  background: rgb(48, 157, 252);
  animation: moveAndScaleUp 2s 1s 4 alternate both linear;
}

.ball:hover {
  animation-play-state: paused;
}

@keyframes moveAndScaleUp {
  0% {
    transform: translateX(0) scale(1);
    background-color: rgb(186, 211, 233);
  }

  /* 45% {
    transform: translateX(-100px) scale(0.5);
  } */

  100% {
    transform: translateX(200px) scale(1.5);
    background-color: rgb(186, 211, 233);
  }
}
