body {
  overflow: hidden;
}

h1 {
  font-size: 20px;
  padding: 30px;
}

.box {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s linear;
}

.box img {
  width: 100px;
}
